/* Add styling for your page here */

.App {
    /* display: flex;
    flex-direction: row; */

}
.content{
    display: flex;
    flex-direction: row;
}
.BakeryContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
